@import url('reset.css');

/* General Demo Style */
body {
  background: #F0F0F0;
  /* background:#F0F0F0 url(../images/pattern.png) repeat top left; */
  color: #0B333F;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}

a {
  color: #0B333F;
  text-decoration: none;
}

.clr {
  clear: both;
}

h1 {
  padding: 20px;
  font-size: 5em;
  color: #333;
  font-family: 'Josefin Slab', Georgia, serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

h1 span {
  font-size: 0.5em;
  color: #1693eb;
}

h2 {
  font-size: 1.5em;
  color: #333;
  font-family: 'Josefin Slab', Georgia, serif;
  font-weight: 400;
  text-align: center;
}

.more {
  font-family: 'Josefin Slab', Georgia, serif;
  margin: 0 auto;
  text-align: center;
  color: #ddd;
  font-size: 15px;
  color: #444;
}

.more p {
  display: block;
  margin: 10px;
}

.more a {
  color: #666;
  white-space: nowrap;
  font-weight: bold;
  background: #fff;
  padding: 1px 6px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.more a.current,
.more a.current:hover {
  color: #fff;
  background: #000;
}

.more a:hover {
  background-color: #1693eb;
  color: #fff;
}

/* Header Style */
.header {
}

.header a {
  padding: 0 10px;
  letter-spacing: 1px;
  color: #ddd;
  display: block;
  float: left;
}

.header a:hover {
  color: #fff;
}

.header span.right {
  float: right;
}

.header span.right a {
  float: none;
  display: inline;
}
