/* Flexible Slide-to-top Accordion Style*/
.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.st-accordion {
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
}

.st-accordion ul li {
  height: 100px;
  border-bottom: 1px solid #c7deef;
  border-top: 1px solid #fff;
  overflow: hidden;
}

.st-accordion ul li:first-child {
  border-top: none;
}

.st-accordion ul li > a {
  font-family: 'Josefin Slab', Georgia, serif;
  text-shadow: 1px 1px 1px #fff;
  font-size: 20px;
  display: block;
  position: relative;
  line-height: 100px;
  outline: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.st-accordion ul li > a span {
  background: transparent url(../images/down.png) no-repeat center center;
  text-indent: -9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.st-accordion ul li > a:hover {
  color: #1693eb;
}

.st-accordion ul li > a:hover span {
  opacity: 1;
  right: 10px;
}

.st-accordion ul li.st-open > a {
  color: #1693eb;
  font-weight: bold;
}

.st-accordion ul li.st-open > a span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 10px;
  opacity: 1;
}

.st-content {
  padding: 5px 0 30px 0;
}

.st-content p {
  font-size: 16px;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 28px;
  padding: 0 4px 15px 4px;
}

.st-content p .use2 {
  border-left: 3px solid #FFC000;
  padding: 10px;
}

.use-art {
  border-left: 3px solid #FFC000;
  padding-left: 10px;
}

.st-content img {
  width: 125px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.st-content .varname {
  color: #1693eb;
  font-weight: bold;
}

.st-content .function {
  font-weight: bold;
}

.st-content .parameter {
  font-size: 1em;
}

.term .parameter {
  font-size: 1em;
  color: #FFC000;
}

.term .parameter:before {
  content: "$";
}

.para .parameter {
  font-weight: bold;
}

.quick-link {
  color: #FFC000;
}

.type {
  color: grey;
}

.term .modifier {
  color: grey;
}

.methodparam .parameter {
  color: #FFC000;
}

.footer {
  font-size: 25px;
  padding: 2em;
  background-color: #0B333F;
  min-height: 155px;
  color: #ffffff;
}

.art div {
  width: 100%;
  height: 100px;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
}

.footer-art {
  -webkit-transform: scale(-1); /* Saf3.1+, Chrome */
  -moz-transform: scale(-1); /* FF3.5+ */
  -ms-transform: scale(-1); /* IE9 */
  -o-transform: scale(-1); /* Opera 10.5+ */
  transform: scale(-1);
}

#icon, #short, #long {
}

.small-txt {
  font-size: 0.5em;
}

.contact > a {
  font-size: 0.5em;
  color: #FFFFFF;
}

#contact {
 color:white;
}

/*** Make some adjustments if on mobile *******************************************************************************/
@media screen and (max-width: 500px) {
  .st-accordion ul li > a {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .st-accordion ul li > a span {
    display: none;
  }

  .st-accordion ul li.st-open > a span {
    display: none;
  }

  h1 {
    font-size: 3em;
  }

}
